<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  //created context API
  const ctx = React.createContext();

  // created initData or store data
  const initData = {
    users: [],
    user: {},
    isEdit: false,
  };
  //Reducer
  const reducer = (state, action) => {
    switch (action.type) {
      case "USERS":
        state = {
          ...state,
          users: action.payload,
        };
        break;
      case "EDIT":
        state = {
          ...state,
          user: action.payload,
          isEdit: action.isEdit,
        };
    }
    console.log(state, "***state***");
    return state;
  };

  //root component App
  function App() {
    const [state, dispatch] = React.useReducer(reducer, initData);
    const [data, setData] = React.useState({ name: "", password: "" });
    const fnChange = (e) => {
      let id = e.target.id;
      let val = e.target.value;
      setData({
        ...data,
        [id]: val,
      });
    };
    const fnSubmit = () => {
      console.log(data, "***");
      dispatch({
        type: "USERS",
        payload: [...state.users, data],
      });
    };
    const fnUpdate = () => {
      let index = state.users.findIndex((user) => {
        return user === state.user;
      });
      state.users.splice(index, 1, data);
      console.log(index, state.users, "&&&&&");

      dispatch({
        type: "USERS",
        payload: state.users,
      });
      console.log(state.users, "user");
    };
    const fnCancel = () => {
      dispatch({
        type: "EDIT",
        isEdit: false,
      });
    };
    return (
      <div>
        <ctx.Provider value={{ state, dispatch }}>
          <p>
            Name: <input id="name" onChange={fnChange} />
          </p>
          <p>
            Password:
            <input id="password" onChange={fnChange} type="password" />
          </p>
          {state.isEdit ? (
            <div>
              <button onClick={fnUpdate}>Update</button>
              <button onClick={fnCancel}>Cancel</button>
            </div>
          ) : (
            <button onClick={fnSubmit}>Submit</button>
          )}

          <hr></hr>

          <Table />
        </ctx.Provider>
      </div>
    );
  }
  const Table = () => {
    const context = React.useContext(ctx);
    const fnEdit = (user) => {
      context.dispatch({
        type: "EDIT",
        payload: user,
        isEdit: true,
      });
    };
    const fnDelete = (user) => {
      debugger;
      let index = context.state.users.findIndex((o) => {
        return o === user;
      });
      context.state.users.splice(index, 1);
      context.dispatch({
        type: "USERS",
        payload: context.state.users,
      });
    };
    return (
      <div>
        <table border="1px solid black">
          <tr>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          {context.state.users.map((user, index) => {
            return (
              <tr>
                <td>{user.name}</td>
                <td>{user.password}</td>
                <td>
                  <button onClick={(e) => fnEdit(user)}>Edit</button>
                </td>
                <td>
                  <button onClick={(e) => fnDelete(user)}>Delete</button>
                </td>
              </tr>
            );
          })}
        </table>
      </div>
    );
  };
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
