<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      console.log(this, "****");
      //   this.sum = 0;
      this.state = {
        sum: 0,
        c: "blue",
      };
    }
    fnAdd = () => {
      debugger;
      let n1 = this.refs.n1.value;
      let n2 = this.refs.n2.value;
      let res = Number(n1) + Number(n2);
      let clr = "green";
      if (res > 100) {
        clr = "red";
      }
      this.setState({
        sum: res,
        c: clr,
      });
    };
    render() {
      return (
        <div>
          <p>
            NO1:
            <input ref="n1" />
          </p>
          <p>
            NO2:
            <input ref="n2" />
          </p>
          <p>
            <button onClick={this.fnAdd}>Submit</button>
          </p>
          <h1 style={{ color: this.state.c, fontFamily: "fantasy" }}>
            Result:{this.state["sum"]}
          </h1>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
