<h1 id="data"></h1>
<script>
  //Ajax by using XMLHttpRequest class
  function fnAjaxXmlhttpRequest() {
    var eleRef = document.getElementById("data");
    var o = new XMLHttpRequest();
    o.open("get", "https://jsonplaceholder.typicode.com/posts");
    o.send();
    o.onload = function () {
      let data = o.responseText;
      console.log(data);
    };
    o.onload = () => {
      let data = o.responseText;
      console.log(data);
      eleRef.innerText = data;
    };
    o.onerror = function () {
      let data = o.responseText;
      console.log(data);
    };
  }
  fnAjaxXmlhttpRequest();

  //Ajax by using fetch
  function fnFetch() {
    fetch("https://jsonplaceholder.typicode.com/posts")
      .then((res) => res.json())
      .then((data) => console.log(data));
  }
  fnFetch();
</script>
