<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      console.log(this, "constructor");
      this.a = 10;
      this.fn = this.fn.bind(this);
    }
    fn() {
      debugger;
      console.log(this, "fn");
      this.refs;
    }
    render() {
      console.log(this, "render");
      return (
        <div>
          {" "}
          <div></div>
          <div></div>
          <button onClick={this.fn}>Click</button>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
