<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
#box{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: inline-block;
}
</style>

<div id="root"></div>

<script type='text/babel'>
// function Box(input){
// return <div id="box">{input.data}{input.label}</div>
// }
function Box({data,label}){
return <div id="box">{data}</div>
}
function App(){
    return <div>
        <div >
        <Box data="1"/>
        <Box data="2"/>
        <Box data="3"/>
        </div>
        <div>
        <Box/>
        <Box/>
        <Box/>
        </div>
        <div>
        <Box/>
        <Box/>
        <Box/></div></div>
}

ReactDOM.render(<App/>,document.getElementById("root"))
</script>