<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
#box{
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: inline-block;
}
</style>

<div id="root"></div>

<script type='text/babel'>
class Box extends React.Component {
render(){
    console.log(this,"this means current object")
   return <div id="box">{this.props.data}{this.props.l}</div>
}
}
class App extends React.Component{
    render(){
        return <div>
        <div >
        <Box data="1" l="Hyderabad"/>
        <Box data="2" l="Mumbai"/>
        <Box data="3"/>
        </div>
        <div>
        <Box/>
        <Box/>
        <Box/>
        </div>
        <div>
        <Box/>
        <Box/>
        <Box/></div></div>
    }
}

ReactDOM.render(<App/>,document.getElementById("root"))
</script>