<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<style>
  #box {
    border: 1px solid green;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
</style>

<div id="root"></div>

<script type="text/babel">
  //   function Box(data) {
  //     console.log(data, "****");
  //     return <div id="box">{data.value}</div>;
  //   }
  function Box({ value, name }) {
    console.log(value, "****");
    return (
      <div id="box">
        {value}
        {name}
      </div>
    );
  }

  function App() {
    return (
      <div>
        <div>
          <Box value="1" name="dhoni" />
          <Box value="2" name="sachin" />
          <Box value="3" />
        </div>
        <div>
          <Box v="4" />
          <Box v="5" />
          <Box v="6" />
        </div>
        <div>
          <Box />
          <Box />
          <Box />
        </div>
      </div>
    );
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
