<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
  #box {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    display: inline-block;
  }
</style>

<div id="root"></div>

<script type="text/babel">
  class Box extends React.Component {
    fn() {
      console.log(this.name);
    }
    render() {
      return (
        <div id="box">
          Box
          <button onClick={this.fn}></button>
        </div>
      );
    }
  }

  ReactDOM.render(<Box />, document.getElementById("root"));
</script>
