<!-- html -->
<div id="root" class="addColor" style="color: red" name="add">Hellow World</div>
<div></div>

<span>Sachin</span>
<span>Dhoni</span>
<span>Kohli</span>
<i>Hyderabad</i>
<b>Mumbai</b>
<select>
  <option>Hockey</option>
  <option>Cricket</option>
</select>

<div>Sachin</div>
<div>Dhoni</div>
<div>Kohli</div>

<p>Hyderabad</p>
<p>Mumbai</p>

<h1>Venilla</h1>
<h2>React</h2>
<h3>Angular</h3>

<div></div>
