<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel" >
class App extends React.Component{
render(){
return <div><Hellow/><Hellow/><Hellow/></div>
}
}
function Hellow(){
    return <h1>Hellow World!!!!! Welcome</h1>
}
ReactDOM.render(<App/>,document.querySelector("#root"))
</script>