<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
function Fn(){
return<h1 id="hellow" name="abc"><span>Hellow world</span></h1>
}

// document.getElementById("root").innerText=<h1>Welcome</h1>
ReactDOM.render(<Fn></Fn>,document.getElementById("root"),()=>{
    alert(123)
})
</script>