<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
    }
    render() {
      return <div></div>;
    }
  }
  ReactDOM.render(<App />, document.querySelector("#root"));
</script>
