<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  function Fn1() {
    const name = "Sachin";
    return (
      <div>
        Hellow World
        <F1></F1>
        {name}
      </div>
    );
  }
  function F1() {
    return <div>Welcome</div>;
  }
  class Fn extends React.Component {
    render() {
      return (
        <div>
          Hellow Hyderabad
          <Fn1 />
          <Fn1></Fn1>
        </div>
      );
    }
  }

  ReactDOM.render(<Fn />, document.getElementById("root"), () =>
    alert("confirmation")
  );
</script>
