<h1 style="color: red">Registration</h1>
<p><b>Name:</b><input type="text" /></p>
<p><b>Password:</b><input type="password" /></p>
<p><b>PhoneNO:</b><input type="number" /></p>
<p>
  <b>Gender</b>Male<input type="radio" name="Gender" /> FeMale
  <input type="radio" name="Gender" />
</p>

<p>
  <b>Hobbies:</b> Cri<input type="checkbox" /> VolleyBall<input
    type="checkbox"
  />
  Hockey<input type="checkbox" checked />
</p>
<p>
  <select>
    <option>India</option>
    <option>Pak</option>
    <option>China</option>
    <option>Italy</option>
  </select>
</p>
Add:<textarea rows="10" cols="100"></textarea>

<b>File</b><input type="file" />

<p>
  <button>Submit</button>
  <input type="button" value="Registration" />
</p>

<a href="https://www.google.com/" target="_blank">Website</a>
<ul>
  <li>Red</li>
  <li>Blue</li>
  <li>Orange</li>
</ul>
<ol>
  <li>India</li>
  <li>Pak</li>
  <li>China</li>
</ol>

<table border="1px solid black">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sachin</td>
      <td>Mumbai</td>
    </tr>
    <tr>
      <td>Dhoni</td>
      <td>Ranchi</td>
    </tr>
    <tr>
      <td>Kohli</td>
      <td>Delhi</td>
    </tr>
  </tbody>
</table>
