<style>
  @media screen and (max-width: 700px) {
    span {
      color: blue;
    }
  }
  @media screen and (min-width: 700px) {
    span {
      color: red;
    }
  }
  @media screen and (min-width: 1000px) {
    span {
      color: green;
    }
  }
</style>

<div>Sachin</div>
<span>Dhoni</span>
<p>Kohli</p>
