<style>
  div {
    border: 1px solid rebeccapurple;
    background: red;
    height: 100px;
  }
  h3 {
    border: 1px solid rebeccapurple;
    background: greenyellow;
    height: 100px;
  }
</style>
<h1 style="color: red; opacity: 0.2">Sachin</h1>
<h3>
  Mumbai
  <div>Hyderabad</div>
</h3>
