<!-- absolute -->
<!-- <div style="position: relative; top: 10px">
  <div>
    <div style="position: absolute; top: 10px; left: 10px">sachin</div>
  </div>
</div>
<div>Dhoni</div> -->

<!-- absolute-> it will remove the space, it wil change the behaviour block then inline, it will take parent as reference -->

<!-- relative -->
<!-- <div>
  <div style="position: relative; top: 40px">Hyderabad</div>
</div>
<div>Mumbai</div> -->

<!-- it won't remove the space , it will not change behaviour, current position, we can able to l,r,b,t -->

<!-- sticky -->
<!-- <body style="height: 2000px">
  <div>Venilla</div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised in
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum. Why do we use it? It is a long established
  fact that a reader will be distracted by the readable content of a page when
  looking at its layout. The point of using Lorem Ipsum is that it has a
  more-or-less normal distribution of letters, as opposed to using 'Content
  here, content here', making it look like readable English. Many desktop
  publishing packages and web page editors now use Lorem Ipsum as their default
  model text, and a search for 'lorem ipsum' will uncover many web sites still
  in their infancy. Various versions have evolved over the years, sometimes by
  accident, sometimes on purpose (injected humour and the like).
  <div style="position: sticky; top: 10px">React</div>
</body> -->

<!-- fixed -->
<style>
  body {
    margin: 0px;
  }
  #footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: yellowgreen;
  }
</style>

<h1>THis is my react app</h1>
<div id="footer" style="position: fixed; bottom: 0px">
  &copy; right belongs to me
</div>
<div>Sachin</div>
<h1>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised in
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum. Why do we use it? It is a long established
  fact that a reader will be distracted by the readable content of a page when
  looking at its layout. The point of using Lorem Ipsum is that it has a
  more-or-less normal distribution of letters, as opposed to using 'Content
  here, content here', making it look like readable English. Many desktop
  publishing packages and web page editors now use Lorem Ipsum as their default
  model text, and a search for 'lorem ipsum' will uncover many web sites still
  in their infancy. Various versions have evolved over the years, sometimes by
  accident, sometimes on purpose (injected humour and the like). Where does it
  come from? Contrary to popular belief, Lorem Ipsum is not simply random text.
  It has roots in a piece of classical Latin literature from 45 BC, making it
  over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
  College in Virginia, looked up one of the more obscure Latin words,
  consectetur, from a Lorem Ipsum passage, and going through the cites of the
  word in classical literature, discovered the undoubtable source. Lorem Ipsum
  comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
  (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a
  treatise on the theory of ethics, very popular during the Renaissance. The
  first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
  in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
  reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
  Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
  original form, accompanied by English versions from the 1914 translation by H.
  Rackham. Lorem Ipsum is simply dummy text of the printing and typesetting
  industry. Lorem Ipsum has been the industry's standard dummy text ever since
  the 1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book. It has survived not only five centuries, but also
  the leap into electronic typesetting, remaining essentially unchanged. It was
  popularised in the 1960s with the release of Letraset sheets containing Lorem
  Ipsum passages, and more recently with desktop publishing software like Aldus
  PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long
  established fact that a reader will be distracted by the readable content of a
  page when looking at its layout. The point of using Lorem Ipsum is that it has
  a more-or-less normal distribution of letters, as opposed to using 'Content
  here, content here', making it look like readable English. Many desktop
  publishing packages and web page editors now use Lorem Ipsum as their default
  model text, and a search for 'lorem ipsum' will uncover many web sites still
  in their infancy. Various versions have evolved over the years, sometimes by
  accident, sometimes on purpose (injected humour and the like). Where does it
  come from? Contrary to popular belief, Lorem Ipsum is not simply random text.
  It has roots in a piece of classical Latin literature from 45 BC, making it
  over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
  College in Virginia, looked up one of the more obscure Latin words,
  consectetur, from a Lorem Ipsum passage, and going through the cites of the
  word in classical literature, discovered the undoubtable source. Lorem Ipsum
  comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
  (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a
  treatise on the theory of ethics, very popular during the Renaissance. The
  first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
  in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
  reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
  Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
  original form, accompanied by English versions from the 1914 translation by H.
  Rackham.Lorem Ipsum is simply dummy text of the printing and typesetting
  industry. Lorem Ipsum has been the industry's standard dummy text ever since
  the 1500s, when an unknown printer took a galley of type and scrambled it to
  make a type specimen book. It has survived not only five centuries, but also
  the leap into electronic typesetting, remaining essentially unchanged. It was
  popularised in the 1960s with the release of Letraset sheets containing Lorem
  Ipsum passages, and more recently with desktop publishing software like Aldus
  PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long
  established fact that a reader will be distracted by the readable content of a
  page when looking at its layout. The point of using Lorem Ipsum is that it has
  a more-or-less normal distribution of letters, as opposed to using 'Content
  here, content here', making it look like readable English. Many desktop
  publishing packages and web page editors now use Lorem Ipsum as their default
  model text, and a search for 'lorem ipsum' will uncover many web sites still
  in their infancy. Various versions have evolved over the years, sometimes by
  accident, sometimes on purpose (injected humour and the like). Where does it
  come from? Contrary to popular belief, Lorem Ipsum is not simply random text.
  It has roots in a piece of classical Latin literature from 45 BC, making it
  over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
  College in Virginia, looked up one of the more obscure Latin words,
  consectetur, from a Lorem Ipsum passage, and going through the cites of the
  word in classical literature, discovered the undoubtable source. Lorem Ipsum
  comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
  (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a
  treatise on the theory of ethics, very popular during the Renaissance. The
  first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
  in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
  reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
  Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
  original form, accompanied by English versions from the 1914 translation by H.
  Rackham.
</h1>
