<style>
  /* Universal selector */
  * {
    color: greenyellow;
  }

  /* grouping selector */
  #hellow,
  span {
    border: 1px solid green;
  }

  /* tagName Selector */
  h1 {
    color: red;
  }
  /* id selector */
  #venella {
    color: indigo;
  }
  /* class selector */
  .react {
    color: grey;
  }
  .angular {
    border: 1px solid salmon;
  }
  /* greater than and space selector */

  div > p {
    border: 3px solid greenyellow;
  }

  div > p {
    border: 3px solid greenyellow;
  }

  /* ~ and +(slibling selector) */
  span + p {
    text-shadow: 0px 2px red;
  }
  span ~ p {
    text-shadow: 0px 2px #ff00dd;
  }
</style>
<div>
  <div id="hellow">HELLOW WORLD</div>
  <span>WELCOME</span>
  <p>Hyderabad</p>
  <p>Chennai</p>
  <p>
    <p>Mumbai</p>
    Sriman IT
  </p>
  <p>Karnataka</p>
</div>

<h2 id="venella">Venella</h2>
<h3 class="react angular">React</h3>
<h3 class="react">Vue</h3>
<h4 class="angular">Electron</h4>
<p>Hyderabad</p>
