<style>
  /* div,
  span,
  p {
    color: red;
  } */
</style>
<link href="1.css" rel="stylesheet" />

<!-- <div style="color: green">HELLOW WORLD</div>
<span style="color: green">WELCOME</span>
<p style="color: green">Hyderabad</p> -->

<div>HELLOW WORLD</div>
<span>WELCOME</span>
<p>Hyderabad</p>
