body {
  margin: 0px;
}
#header {
  color: blue;
  background: skyblue;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
#footer {
  color: blue;
  background: skyblue;
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
}
#links > a {
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}
#menu {
  background: blue;
  text-align: right;
}
